<div class="row">

  <h1>List of employees</h1>
  <p>This are the employees in the app</p>

  <div class="row" ng-if="!employeesList">
    <button class="btn btn-primary" ng-click="fetch()"> Get list </button>
  </div>

  <div ng-if="employeesList">
    <button class="btn btn-primary" ng-click="fetch()"> Refresh </button>
    <table class="table table-hover" >
      <thead>
        <tr>
          <th scope="col">Identify</th>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <tr ng-repeat="e in employeesList">
          <th scope="row">{{e._id.processIdentifier}}</th>
          <td>{{e.name}}</td>
          <td>{{e.department}}</td>
          <td>{{e.salary}}</td>
        </tr>
        </tr>

      </tbody>
    </table>
  </div>
<br>
</div>
